<nav hlmBreadcrumb>
  <ol hlmBreadcrumbList>
    <li hlmBreadcrumbItem>
      <a hlmBreadcrumbLink>Your Groups</a>
    </li>
    <li hlmBreadcrumbSeparator></li>
    <li hlmBreadcrumbItem>
      <a hlmBreadcrumbPage routerLink="/group-voting/{{ group()?.id }}">
        {{ group()?.name }}
      </a>
    </li>
  </ol>
</nav>

<hlm-tabs tab="voting">
  <hlm-tabs-list variant="line">
    <button hlmTabsTrigger="voting">Voting</button>
    <button hlmTabsTrigger="results">Results</button>
  </hlm-tabs-list>

  <div hlmTabsContent="voting">
    @if (group()) {
      @for (restaurant of group()?.favoriteRestaurants; track restaurant.id) {
        <div class="py-2 px-1">
          <mol-restaurant-row [restaurant]="restaurant" class="pb-4" />
          <div class="flex gap-2">
            @if (restaurant.dailyMenuUrl) {
              <button
                hlmBtn
                variant="outline"
                (click)="
                  handleOpenDailyMenuModal(
                    restaurant.name,
                    restaurant.dailyMenuUrl
                  )
                "
              >
                Daily Menu
              </button>
            }

            <mol-voting-radio-button
              [selectedValue]="myVotes()?.[restaurant.id] ?? null"
              (valueChange)="handleVoteChange($event, restaurant.id)"
            />
          </div>
        </div>
      } @empty {
        <p>No favorite restaurants available.</p>
      }
    }
  </div>

  <div hlmTabsContent="results">
    @if (filteredResults()) {
      <span>Filters</span>
      <button
        hlmBtn
        [variant]="appliedFilter() === 'all' ? 'secondary' : 'ghost'"
        (click)="handleFilterChange('all')"
      >
        All
      </button>
      <button
        hlmBtn
        [variant]="
          appliedFilter() === 'excluding-unwanted' ? 'secondary' : 'ghost'
        "
        (click)="handleFilterChange('excluding-unwanted')"
      >
        Excluding unwanted
      </button>
      @for (result of filteredResults(); track result.restaurantId) {
        <hlm-collapsible #collapsible="brnCollapsible">
          <div
            class="flex items-center justify-between p-4 border rounded mb-2"
          >
            <span
              hlmBadge
              [ngClass]="{
                'bg-amber-500': result.position === 1,
                'bg-slate-400': result.position === 2,
                'bg-amber-700': result.position === 3,
              }"
              [variant]="result.position > 3 ? 'secondary' : 'default'"
              >{{ result.position }}.</span
            >

            <span>{{ result.restaurantName }}</span>
            <div>
              <span hlmBadge variant="secondary"
                >Score: {{ result.score }}</span
              >
              @if (result.votes.unwanted > 0) {
                <span hlmBadge variant="destructive"
                  >Against: {{ result.votes.unwanted }}</span
                >
              }
            </div>
            <button hlmBtn variant="secondary" hlmCollapsibleTrigger>
              Details {{ collapsible.expanded() ? '▲' : '▼' }}
            </button>
          </div>
          <hlm-collapsible-content>
            Yes. Free to use for personal and commercial projects. No
            attribution required.
          </hlm-collapsible-content>
        </hlm-collapsible>
      }
    } @else {
      <p>No votes yet.</p>
    }
  </div>
</hlm-tabs>
