PORT=3000
NODE_ENV=development # development | production | test
JWT_SECRET=Aa...................
DATABASE_URL=postgresql://user:development-database-password@localhost:5432/mol
LOG_LEVEL=info # silent | error | warn | info | debug


