<button nz-button nzType="primary" (click)="handleClickNewRestaurant()">
  Add new
</button>

<nz-list nzBordered>
  @for (item of restaurants(); track item.id) {
    <nz-list-item>
      <div class="flex items-center gap-2">
        @if (item.icon) {
          <img [src]="item.icon" width="25" alt="Náhled fotky" />
        }
        <span>{{ item.name }}</span>
      </div>

      <div>
        <a nz-button nzType="link" routerLink="/restaurants/{{ item.id }}">
          Details
        </a>
      </div>
    </nz-list-item>
  }
</nz-list>
