<nz-layout style="height: 100%">
  <nz-page-header>
    <nz-page-header-title>
      <div class="flex items-center gap-3">
        <img src="mol-logo.svg" alt="My Office Lunch Logo" width="22" />
        <span class="mb-0.5">My Office Lunch</span>
      </div>
    </nz-page-header-title>

    <nz-page-header-extra>
      <nz-space>
        <button nz-button nzType="dashed" routerLink="/profile">
          <nz-icon nzType="user" nzTheme="outline" />
          {{ name }}
        </button>

        <button
          nz-button
          nz-dropdown
          nzTrigger="click"
          nzType="dashed"
          [nzDropdownMenu]="menu"
        >
          <nz-icon nzType="down" />
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="signOut()">
              <nz-icon nzType="logout" nzTheme="outline" />
              Log out
            </li>
          </ul>
        </nz-dropdown-menu>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-layout>
    <nz-sider>
      <ul nz-menu nzMode="inline" style="height: 100%">
        @for (group of myGroups(); track group.id) {
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/group-voting/{{ group.id }}">{{ group.name }}</a>
          </li>
        }

        <li nz-menu-item nzMatchRouter>
          <a routerLink="/groups">Groups</a>
        </li>

        <li nz-menu-item nzMatchRouter>
          <a routerLink="/restaurants">Restaurants</a>
        </li>
      </ul>
    </nz-sider>

    <nz-content>
      <router-outlet />
    </nz-content>
  </nz-layout>
</nz-layout>
