<div hlmSidebarWrapper class="flex h-screen w-screen">
  <hlm-sidebar collapsible="none">
    <div hlmSidebarContent>
      <div hlmSidebarHeader>
        <button
          hlmBtn
          variant="ghost"
          class="w-full justify-start gap-3 h-14"
          [hlmDropdownMenuTrigger]="appInfo"
          side="right"
          align="start"
        >
          <img src="mol-logo.svg" alt="My Office Lunch Logo" width="22" />

          <div class="flex flex-col items-start">
            <span class="font-medium">My Office Lunch</span>
          </div>

          <ng-icon name="lucideChevronsUpDown" class="ml-auto" />
        </button>
      </div>

      <div hlmSidebarGroup>
        <div hlmSidebarGroupLabel>Your Groups</div>
        <div hlmSidebarGroupContent>
          <ul hlmSidebarMenu>
            @if (isGroupsLoading()) {
              <li hlmSidebarMenuItem>
                <div class="flex items-center gap-2 px-2 py-2">
                  <hlm-skeleton class="h-4 w-4 rounded-sm" />
                  <hlm-skeleton class="h-4 w-40" />
                </div>
              </li>
            }
            @for (item of myGroups(); track item.id) {
              <li hlmSidebarMenuItem routerLink="/group-voting/{{ item.id }}">
                <button hlmSidebarMenuButton>
                  <ng-icon name="lucideUsers" />
                  <span>{{ item.name }}</span>
                </button>
              </li>
            }
          </ul>
        </div>
      </div>

      <div hlmSidebarGroup>
        <div hlmSidebarGroupLabel>Management</div>
        <div hlmSidebarGroupContent>
          <ul hlmSidebarMenu>
            <li hlmSidebarMenuItem>
              <button hlmSidebarMenuButton routerLink="/restaurants">
                <ng-icon name="lucideCookingPot" />
                <span>Restaurants</span>
              </button>
            </li>
          </ul>

          <ul hlmSidebarMenu>
            <li hlmSidebarMenuItem>
              <button hlmSidebarMenuButton routerLink="/groups">
                <ng-icon name="lucideUsers" />
                <span>Groups</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div hlmSidebarFooter>
      <button
        hlmBtn
        variant="ghost"
        class="w-full justify-start gap-3 h-14"
        [hlmDropdownMenuTrigger]="menu"
        side="right"
        align="start"
      >
        <hlm-avatar>
          <div hlmAvatarImage>
            <ng-icon name="lucideChevronsUpDown"></ng-icon>
          </div>
          <!-- <img
            hlmAvatarImage
            src="/assets/avatar.png"
            alt="spartan logo. Resembling a spartanic shield"
          /> -->
          <!-- <span hlmAvatarFallback>{{ name }}</span> -->
        </hlm-avatar>

        <div class="flex flex-col items-start">
          <span>{{ name }}</span>
        </div>

        <ng-icon name="lucideChevronsUpDown" class="ml-auto" />
      </button>
    </div>
  </hlm-sidebar>

  <div class="flex-1 h-full overflow-auto">
    <router-outlet />
  </div>
</div>

<ng-template #menu>
  <hlm-dropdown-menu>
    <!-- <hlm-dropdown-menu-group>
      <hlm-dropdown-menu-label>My Account</hlm-dropdown-menu-label>
      <button hlmDropdownMenuItem>Profile</button>
    </hlm-dropdown-menu-group> -->
    <!-- <hlm-dropdown-menu-separator /> -->
    <hlm-dropdown-menu-group>
      <button hlmDropdownMenuItem routerLink="/profile">
        <ng-icon name="lucideUser" />
        Profile
      </button>
      <button hlmDropdownMenuItem (click)="signOut()">
        <ng-icon name="lucideLogOut" />
        Log out
      </button>
    </hlm-dropdown-menu-group>
  </hlm-dropdown-menu>
</ng-template>

<ng-template #appInfo>
  <hlm-dropdown-menu>
    <!-- <hlm-dropdown-menu-group>
      <hlm-dropdown-menu-label>My Account</hlm-dropdown-menu-label>
      <button hlmDropdownMenuItem>Profile</button>
    </hlm-dropdown-menu-group> -->
    <!-- <hlm-dropdown-menu-separator /> -->
    <hlm-dropdown-menu-group>
      <div>My Office Lunch app</div>
      <div>Version: 0.0.1</div>
      <!-- <button hlmDropdownMenuItem (click)="signOut()">Log out</button> -->
    </hlm-dropdown-menu-group>
  </hlm-dropdown-menu>
</ng-template>
