<nz-layout style="height: 100%">
  <nz-page-header>
    <nz-page-header-title>🍽️ My Office Lunch</nz-page-header-title>

    <nz-page-header-extra>
      <nz-space>
        <button nz-button nzType="dashed" (click)="signOut()">Sign Out</button>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-layout>
    <nz-sider>
      <ul nz-menu nzMode="inline" style="height: 100%">
        @for (group of myGroups(); track group.id) {
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/group-voting/{{ group.id }}">{{ group.name }}</a>
        </li>

        }

        <li nz-menu-item nzMatchRouter>
          <a routerLink="/groups">Groups</a>
        </li>

        <li nz-menu-item nzMatchRouter>
          <a routerLink="/restaurants">Restaurants</a>
        </li>
      </ul>
    </nz-sider>

    <nz-content>
      <router-outlet />
    </nz-content>
  </nz-layout>
</nz-layout>
